body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gradient {
  width: 150px;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  position: relative;
}
.ex {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 3px #333 solid;
}
.popup {
  background-color: #ddd;
  visibility: hidden;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  transform-origin: center;
  left: 50%;
  top: 10%;
  margin-left: -40px;
}

.show {
  visibility: visible;
}
/* ========================================== */
.gradients {
  width: 100%;
  height: 100%;
}
.infos {
  width: 100%;
  position: sticky;
  height: 100px;
  background-color: #ffffff;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.name {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #efefef;
  cursor: pointer;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
}
#color {
  padding: 7px 20px;
  background-color: #eeeeee;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text span {
  color: #222;
  font-weight: bold;
}
#carre {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border: 1px solid #222;
  border-radius: 1px;
}
#back {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  transform: translate(-50%, 50%);
  background-color: #222;
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#back svg {
  fill: #ededed !important;
  width: 40%;
  height: 40%;
  rotate: 180deg;
  transition: 0.2s ease-in-out;
}
#back:hover {
  width: 60px;
  height: 60px;
}
#back:hover svg {
  width: 50%;
  height: 50%;
}
#next {
    display: none;
}

.copy {
  background-color: rgba(238, 238, 238, 1);
  position: absolute;
  bottom: 50px;
  left: 50%;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  transform: translate(-50%, 50%);
  opacity: 0;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
    #next {
        rotate: 180deg;
        width: 50px;
        height: 50px;
        border-radius: 999px;
        transform: translate(-50%, 50%);
        background-color: #222;
        position: absolute;
        bottom: 00px;
        right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 998;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
      #next svg {
        fill: #ededed !important;
        width: 40%;
        height: 40%;
        rotate: 180deg;
        transition: 0.2s ease-in-out;
      }
      #next:hover {
        width: 60px;
        height: 60px;
      }
      #next:hover svg {
        width: 50%;
        height: 50%;
      } 
}